body{
  font-family: 'Roboto', sans-serif;
}

/* utility class */
.bd{
  border: 1px solid black;
}
 .pdbt-20{
   padding-bottom: 20px;
 }
.pdbt-40{
  padding-bottom: 40px;
}

.pdtb-20{
  padding-top: 20px;
  padding-bottom: 20px;

}
.pdlr-5{
  padding-left: 5px;
  padding-right: 5px;
}

.pdl-10{
  padding-left:10px;
}

.pdtb-25{
  padding-top: 25px;
  }
.txt-c{
  text-align: center;
}

.mr-lr-10{
  margin-left: 10px;
  margin-right: 10px;
}

.lh-30{
  line-height: 20px;
}

.txt-r{
  text-align: right;
}

.mrtop-50{
  margin-top: 50px;
}

.mrtop-30{
  margin-top: 30px;
}

.pdr-40{
  padding-right: 40px;
}

.mrbt-20{
  margin-bottom: 20px;
}

.white{
  color: white;
}

.bg-cel{
  background-color: lightblue;
}

.bg-whi{
  background-color: white;
}

.txt-l{
  text-align: left;
}

.bg-grey{
  background-color: rgb(243, 245, 249);
}

.tx-blue{
  color: #031b4e;
}

.celeste{
  color: #0069ff;
}
.bg-celeste{
  background-color:  #0069ff;
  border-radius: 100%;
}

.circle i{
  font-size: 12px;
}

.circle{
  padding-bottom: 50px;
}


/* sezione navbar */
.ocean{
  width: 100%;
}

.nav-centre li, .nav-right li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

.nav-centre li a, .nav-right li a{
  text-decoration: none;
  color: black;
}

.nav-centre i, .nav-right i{
  color: black;
}

.button{
  padding: 5px;
  background-color: white;
  color: #0069ff;
  border-radius: 10px;
  border: 2px solid lightblue;
}

.nav-right .button:hover{
  background-color: #0069ff;
  color: white;
}

#navbar ul li{
  font-size: 20px;
}

.toggle{
  color: grey;
  display: none;
  height: 40px;
    position: relative;
    padding: 10px 20px;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    border: 2px solid black;
}

/* sezione jumbotron */

#jumbotron{
  background-color: rgb(0,105,255);
  background-size: cover;
  background-repeat: repeat-x;
}

#jumbotron h1{
  font-size: 50px;
  margin-right:
}
.title p{
  font-size: 25px;
  margin-bottom: 50px;
  line-height: 30px;
}

.info{
  background-color: white;
  width: 90%;
  margin-left: 60px;
  border-radius: 10px;
  line-height: 30px;
}

.info input{
  padding: 5px;
  width: 90%;
}

.info button{
  padding: 5px;
  width: 90%;
}

.info h2{
  padding-top: 25px;
  padding-bottom: 10px;
  color: #031b4e;
}

.info h3{
  padding-bottom: 10px;
  color: #0069ff;
}

.info input, button{
  margin-bottom: 5px;
}

.info p{
  padding-top: 10px;
  padding-bottom: 20px;
}

.google{
  width: 40px;
}

.info button, input{
  border-radius: 5px;
}

.info p{
  color: #031b4e;
}

.info a{
  color: #0069ff;
}

#partners{
  background-color: rgb(243, 245, 249)
}

#partners .container h4{
  text-transform: uppercase;
  color: grey;
  padding-top: 30px;
  padding-bottom: 30px;
}

#partners img{
  width: 80%;
  height: 100px;
}

.customer{
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}
.customer a, .fas{
  color: #0069ff;
}

.first-row h2{
  padding-top: 25px;
  padding-bottom: 10px;
  color: #031b4e;
  font-size: 40px;
}

.first-row p {
  padding-bottom: 10px;
  font-size: 25px;
  color: #5b6987;
}
.list-item ul li{
  color: #5b6987;
  margin-left: 80px;
  list-style: none;
  line-height: 35px;
  border-left: 1px solid #5b6987;
  padding-left: 5px;
}

.slide img,h4,p{
  padding-bottom: 15px;
}

.slide h4{
  color: #031b4e;
}

.slide p{
  color: #5b6987;
  padding-right: 60px;
}

.second-sec h2{
  padding-top: 50px;
  color: #031b4e;
  font-size: 40px;
  }

  .second-sec p{
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 25px;
    color: #5b6987;
}

.screen{
  width: 100%;
}


.angle, .angle2{
  line-height: 400px;

}

.angle span i{
  font-size: 60px;
  color: grey;
  padding-right: 20px;
}
.angle2 span i{
  font-size: 60px;
  color: #031b4e;
  padding-left: 20px;
}

#ext-p{
  font-size: 15px;
  color: #031b4e;
  font-weight: bold;
  padding-bottom: 10px;
}

.third-sec h2{
  padding-top: 50px;
  color: #031b4e;
  font-size: 40px;
  padding-bottom: 30px;
}

.third-sec h4{
  padding-top: 10px;
  padding-bottom: 10px;
  color: #031b4e;
}

.third-sec p{
  padding-right: 15px;
  color: #5b6987;
}

.third-sec a, i{
  color: #0069ff;
}
.third-sec{
  padding-bottom: 50px;
}

.sect-four{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #031b4e;
}

.sect-four h2{
  color: white;
  font-size: 40px;
  padding-bottom: 20px;
}

.sect-four span{
  color: white;
  margin-bottom: 15px;
}

.sect-four a, .sect-four .test i{
  color: #00d7d2;
  text-decoration: none;
}
.code, .city, .test{
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid white;
}

.city span{
  padding-left: 25px;
}

.code span{
  padding-left: 10px;
}
.test a{
  padding-left: 15px;
}

.sect-four .col-1{
  width: 48%;
  margin-right: 20px;
}


.sect-five h2{
  padding-top: 50px;
  color: #031b4e;
  font-size: 40px;
  padding-bottom: 50px;
}

.rockerbox{
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  margin-bottom: 30px;
}

.rockerbox p{
  color: #5b6987;
  padding-top: 20px;
}

.rockerbox span{
  color: #031b4e;
}
.founder{
  padding-bottom: 20px;
  display: block;
}


.angle-l {

  height: 300px;
  line-height: 300px;
  font-size: 40px;
  text-align: right;
  padding-right: 10px;
}
.angle-l i{
  color: grey;
}

.angle-r{
  height: 300px;
  line-height: 300px;
  font-size: 40px;
  text-align: left;
  padding-left: 10px;
}
.angle-r i{
  color: #031b4e;
}

.section-six h2{
  color: white;
  font-size: 50px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.section-six{
  background-color: #031b4e;
  padding-bottom: 50px;
  }

.section-six button{
  color: #0069ff;
  font-size: 25px;
  padding: 15px;
  border-radius: 10px;
}

.footer-site{
  padding-top: 70px;
  padding-bottom: 60px;
  background-color: #010e28;
}
.footer-site img{
  padding-bottom: 10px;
}

.footer-site p{
  color: #FFFFFF80;
}

.footer-site i{
  color: #FFFFFF80;
  padding: 0 5px;
}

.footer-site h4{
  color: white;
  font-size: 20px;
}

.footer-site ul li a{
  color: #FFFFFF80;
  line-height: 30px;
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none;
}

.footer-site ul li{
  list-style-type: none;
}











/* *****media query***** */

@media screen and (max-width: 1200px) {

.nav-centre{
  display: none;
}
.nav-right{
  display:none;
}

.toggle{
  display: block;
  text-align: right;

}
