/* utility class */
.pdtb-20{
  padding-top: 20px;
  padding-bottom: 20px;

}
.pdlr-5{
  padding-left: 5px;
  padding-right: 5px;
}

.pdtb-25{
  padding-top: 25px;
  padding-bottom: 25px;
}
.txt-c{
  text-align: center;
}

.mr-lr-10{
  margin-left: 10px;
  margin-right: 10px;
}

.lh-30{
  line-height: 20px;
}

.txt-r{
  text-align: right;
}



/* sezione navbar */
.ocean{
  width: 100%;
}

.nav-centre li, .nav-right li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

.nav-centre li a, .nav-right li a{
  text-decoration: none;
  color: black;
}

.nav-right ul button{
  padding: 10px;
  background-color: white;
  color: lightblue;
  border-radius: 10px;
  border: 1px solid lightblue;
}
